html, body {
    margin:0;
    padding:0;
}
body {
    width:1200px;
    min-height:2256px;
    font-family:'Arial', sans-serif;
    font-size:10px;
    color: black;
}

.clearfix:after {
    content:'';
    clear:both;
    display:table;
}

.container {
  width: 878px;
  margin: 0 auto;
  padding: 0 10px; 
  
}

.main-header {
	margin-bottom: 60px;
	background-image: url(img/sliderbackground.png); 
	background-repeat: repeat;
}


.logo {
	width: 140px;
	padding: 0 10px;
	min-height: 70px;
	float: left;
}

.main-navigation {
	min-height: 70px;
	width: 570px;
	float: left;
}

.basket {
	min-height: 70px;
	width: 90px;
	float: right;
}

.slider {
	min-height: 340px;
	width: 880px;
	float: left;
	
}







article:first-child {

float: left;
width: 260px;




}

article:second-child {

float: left;
margin-left: 10px;

}

article:last-child {

float: right;
margin-top: -255px;
margin-right: 120px;





}
.main-offer {
	margin-top: 20px;
	min-height: 426px;
	width: 880px;
}



.we-are {
	float: left;
	width: 880px;
	margin-top: 100px;
	
	
}

.execute-orders {
	float: left;
	margin-left: 1px;
	
	

}

.logo-nerds2{
	float: rigth;
	width: 128px;
	margin-left: 700px;
	margin-top: -150px;
	
	
}
.we-work {
	float: right;
	margin-left: 550px;
	margin-top: -100px;
	
}


.glukhanko {
  float: left;
  width: 100px;
  padding: 35px;

}

.htmlacademy {
	float: left;
	 width: 100px;
     padding: 35px;
	 margin-left: 170px;
}

.borodinski {
	float: right;
	 width: 100px;
  padding: 35px;
}

.background-img {

	width: 570px;
	clear:both;
}


.footer-contacts {

}

.

